<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">

        <title>Raspbery Pi Monitor</title>
    </head>
    <body>
        <h1>I love Ann-Marie</h1>

        <script src="/node_modules/jquery/dist/jquery.slim.min.js"></script>
        <script src="/node_modules/popper.js/dist/umd/popper.min.js"></script>
        <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    </body>
</html>